doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Une recette du Maker-Entrepreneur

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h2 Une recette du Maker-Entrepreneur
        h3 Une grosse louche de Lean Startup avec une pincée de Fablab

      section
        img.avatar.avatar--small(src='images/profile.png')
        h3
          a(href='https://twitter.com/ndeverge') @ndeverge
        ul.bullet
          li Lean Startuper
              a(href="http://ekito.fr" target="_blank") &nbsp;@ekito
          li Micro-entrepreneur

      section
          h2 Présentation rapide du Lean Startup

      section
          h2 Le Lean Startup en une image
          img.picture--small(src='images/leanstartup.jpg')

      section
          h3 Bien démarrer avec le Lean Canvas
          img.picture.picture--no-border(src='images/leancanvas.png')

      section
          h2 Le problème

      section.gif.gif--lost
          h2 Retrouver ses clés quand on les a perdues dans la rue.

      section.gif.gif--money
          h2 Trop bonne idée !!

      section
          h2 1ère hypothèse : l'UVP
          h3 "Vos clés perdues reviennent chez vous."

      section
          h2.bullet Build : le premier MVP
          ul
            li
              img.picture(src='images/mvp1.jpg')

      section
          h2 Mesure : nombre de clés rapportés par rapport au nombre de clés perdues

      section.gif.gif--cowboy-reaction
          h2.bullet
          ul
              li Ouch !
              li (pas top)

      section.gif.gif--bubbles
          h2 2ème hypothèse : et si les gens qui trouvaient les clés ne deviendraient pas des acheteurs !

      section
          h3
            a() Build : Mailing aux personnes qui ont trouvés les clés pour les inviter à acheter un porte clés à 5€
          h3
            a() Mesure : Nombre de clicks sur le bouton "Acheter" / nombre d'envoi d'emails

      section
        h2 "Get out of the building"
        h3
          a(href='http://steveblank.com/2013/09/05/why-real-learning-is-outside-the-building-not-demo-day/' target='_blank') Steve Blank

      section.gif.gif--omg
          h2 Et là, la révélation !

      section
          h3 La découverte du Fablab et de la découpeuse laser
          img.picture(src='images/decoupelaser.jpg')

      section.gif.gif--questions
          h2 Des questions ?
          br
          br

          p Images
             a(href='http://giphy.com' target='_blank') &nbsp;Giphy
          p Concocté avec
             a(href='https://github.com/markdalgleish/generator-bespoke' target='_blank') &nbsp;Bespoke.js

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
